@import url('reset.css');
@import url('grid.css');
@import url('buttons.css');
@import url('typography.css');
@import url('icons.css');

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(130, 130, 130);
}
.btn {
    font-size: 16px;
    padding: 10px 30px;
}

#header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
#header nav a:hover, #header nav a.active {
    background-color: rgba(84, 209, 84, 0.3);
}
#header h1 {
    font-size: 54px;
}
#header {
    background: #000 url("../images/background-header.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
}
#header a {
    color: #ffffff;
    transition: ease .5s all;
}
#header nav {
    text-align: right;
}
#header nav ul, #header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#header .title {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

#team, #customers, #how-it-work {
    text-align: center;
    padding: 30px 0 30px 0;
}

#customers {
    background-color: rgb(242, 242, 242);
}
#customers .btn {
    margin-top: 80px;
    background-color: rgb(220, 220, 220);
    color: rgb(130, 130, 130);
}
#customers .btn:hover {
    background-color: rgb(130, 130, 130);
    color: rgb(220, 220, 220);
}
#customers .btn .material-icons {
    vertical-align: middle;
    font-size: 16px;
}
#customers .container {
    max-width: 1000px;
}

#team {
    background-color: rgb(84, 209, 84);
    color: white;
}
#team h2:after {
    background-color: rgb(255, 255, 255);
}
#team .img-box-round {
    width: 120px;
    height: 120px;
}
