body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}
#header {
    background: #000 url("../images/background-header.jpg") no-repeat;
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 660px;
    position: relative;
    padding-top: 30px;
}
#header a {
    color: #ffffff;
}