#sidenav {
    background-color: #333333;
    color: #888;
    padding-right: 0;
}

#sidenav a {
    color: #888;
}

#sidenav .navbar {
    margin-left: -15px;
}

#sidenav .nav-header {
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
}

#sidenav .nav-pills>li>a {
    border-radius: 0;
    padding: 5px 15px;
}

#sidenav .nav-pills>li.active>a {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
}

#sidenav .nav-pills>li>a:hover, #sidenav .nav-pills>li>a:focus {
    background-color: #222222;
}